@model WebApp.Models.PartecipantViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Partecipant page</h1>
    @Html.ActionLink("Register a Partecipant", "Create")
    @Html.ActionLink("Show the List of partecipants", "List")



</div>
