@model WebApp.Models.PartecipantViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Partecipant page</h1>
    <p>@Html.ActionLink("Register a Partecipant", "Create")</p>
    <p>@Html.ActionLink("Show the List of partecipants", "List")</p>



</div>
